<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb" style="margin-top: 20px;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit Product ( {{product.title}} )</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container margin-top-nav">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h2>Edit Product {{product.title}}</h2>
            {{#if errMessages}}
                <ul>
                    {{#each errMessages}}
                        <li class="text-danger">{{msg}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            <form action="/admin/products/edit-product" method="POST" enctype="multipart/form-data" novalidate>
                <div>
                    <input type="hidden" name="_csrf" id="_csrf" value="{{_csrf}}">
                </div>

                <input type="hidden" name="_id" id="_id" value="{{product._id}}">

                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{product.title}}"/>
                </div>
                <div>
                    <label for="category" class="form-label">Category</label>
                    <select name="categoryId" id="categoryId" class="form-control">
                        {{#each categoryList}}
                            <option value="{{_id}}" {{#compare _id currentCategory}}{{/compare}}>{{title}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control" value="{{product.description}}"/>
                </div>
                <div class="mt-3">
                    <label for="imageUrl" class="form-title">Image</label>
                    <input type="file" name="imageUrl" id="imageUrl">
                </div>
                <div>
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="price" id="price" class="form-control" value="{{product.price}}"/>
                </div>
                <div>
                    {{!-- <label for="issuedDate">issuedDate</label> --}}
                    <input type="hidden" name="issuedDate" id="issuedDate" value="{{product.issuedDate}}">
                    {{!-- <input type="datetime-local" name="issuedDate" id="issuedDate" value="1990-03-15T13:12:00"> --}}
                </div>
                <div class="mt-2">
                    {{#if product.show}}
                        <input type="checkbox" name="show" id="show" checked="checked">
                    {{else}}
                        <input type="checkbox" name="show" id="show">
                    {{/if}}
                    <label for="show">Show</label>
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn btn-warning" value="Apply changes"/>
                </div>
            </form>
        </div>
    </div>
</div>