<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="margin-top-nav">Enter a new password</h2>
            <hr>
            {{#if errmsg}}
                <p>{{errmsg}}</p>
            {{/if}}
            

            {{#if user}}
                <p>Type your new password in below boxes for user of {{user.email}}</p>
                <form action="/user/newPassword" method="POST">

                    <input type="hidden" name="_csrf" id="_csrf" value="{{_csrf}}">
                    <input type="hidden" name="userId" id="userId" value="{{user._id}}">
                    <input type="hidden" name="token" id="token" value={{token}}>

                    <div class="form-group">
                        <label for="newpassword">Enter your new password</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassowrd">Confirm new password</label>
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control">
                    </div>
                    <div>
                        <input type="submit" value="Register new password" class="btn btn-primary">
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
</div>