
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="monoton text-center mt-3">Welcome to Boutique</h1>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-7 mb-3">
            <div id="carouselExampleCaptions" class="carousel slide border-warning" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#each slides}}
                        <li data-target="#carouselExampleCaptions" data-slide-to="{{@index}}"></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each slides}}
                        <div class="carousel-item {{#if @first}}active{{/if}}">
                            <img src="{{getImageAbsolutePath imgUrl}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{title}}</h5>
                                <p>{{link}}</p>
                            </div>
                        </div>
                    {{/each}}                    
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-3">
            {{!-- <h2>Cart</h2> --}}
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Your Cart</div>
                <div class="card-body text-secondary">
                    {{!-- <h5 class="card-title">Secondary card title</h5> --}}
                    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
                    {{#unless cartItems}}
                        <span>No items in cart!</span>
                    {{/unless}}
                    <ul class="list-group list-group-flush">
                        {{#each cartItems}}
                            <li class="list-group-item">
                                {{this.productId.title}} - {{this.quantity}} 
                                
                                <a href="#" class="btn btn-sm btn-danger float-right pt-0" style="font-weight: bold;font-size: 17px;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>      
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="card-body">
                    <a href="/shop/cart" class="btn btn-warning btn-sm">View All</a>
                    <a href="#" class="btn btn-success btn-sm">Checkout</a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-2">
            <h3>New Tips</h3>
            <div class="card text-dark bg-light">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Lorem, ipsum.</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex et nemo unde, quaerat iste ut adipisci dignissimos temporibus quam. Sequi?</p>
                </div>
            </div>
        </div>
    </div>
    {{#if auth}}
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <h2 class="monoton text-center pb-2">Recommended Items</h2>
                <div class="card-group">
                    {{#each recommendedItems}}
                        <div class="card">
                            <img class="card-img-top" src="{{getImageAbsolutePath imageUrl}}" alt="{{title}}">
                            <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text line-clamp-3 font-weight-normal">{{description}}</p>
                            <a href="/products/{{_id}}" class="btn btn-sm btn-warning">Find out more</a>
                        </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="monoton text-center">People Also Bought</h3>
                <div class="card-group">
                    {{#each similarBoughtItems}}
                        <div class="card">
                            <img class="card-img-top" src="{{getImageAbsolutePath imageUrl}}" alt="{{title}}">
                            <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text line-clamp-3 font-weight-normal">{{description}}</p>
                            <a href="/products/{{_id}}" class="btn btn-sm btn-warning">Find out more</a>
                        </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
    <div class="row mt-5 mb-5">
        <h2 class="monoton text-center pb-2">New Products</h2>
        <div class="col-12">
                <div class="card-group">
                    {{#each newProducts}}
                        <div class="card">
                            <img class="card-img-top" src="{{getImageAbsolutePath imageUrl}}" alt="{{title}}">
                                <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text line-clamp-3 font-weight-normal">{{description}}</p>
                                <a href="/products/{{_id}}" class="btn btn-sm btn-outline-dark">Find out more</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
    </div>
        
</div>

<ul>
    {{#each categories}}
        <li>{{title}}</li>
    {{/each}}
</ul>