<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Orders</h2>

            {{#each orders}}
                <div>{{this._id}} - {{this.user.name}}</div>
                <p>Number of items: {{this.items.length}}</p>
                <p>Date: {{this.issuedDate}}</p>
                <ul>
                    {{#each this.items}}
                        <li>{{this.product.title}} - quantity: {{this.quantity}}</li>
                    {{/each}}
                </ul>
                <a href="/shop/order/pdf/{{_id}}" class="btn btn-warning btn-sm">Download invoice</a>
                <hr/>
            {{/each}}
            
        </div>
    </div>
</div>
