<div class="container">
    <div class="row">
            {{#each products}}
                <div class="col-12 col-sm-6 col-md-4">
                    <h2>
                        <a href="/products/{{_id}}">{{title}}</a>
                    </h2>
                    <p>{{description}}</p>
                    <img src="{{getImageAbsolutePath imageUrl}}" alt="{{title}}" class="d-block img-fluid">
                    <p>{{addCommos price}}</p>
                    <p>{{formatDate issuedDate}}</p>
                    <a href="/products/{{_id}}">Details</a>
                    <hr>
                </div>
            {{/each}}
    </div>
</div>