<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each products}}
                <div>
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    <img src="{{getImageAbsolutePath imageUrl}}" alt="{{title}}" class="d-block img-fluid" style="max-width:50%;">
                    <p>{{addCommos price}}</p>
                    <p>{{formatDate issuedDate}}</p>
                    <a href="/products/{{_id}}">Details</a>
                    <hr>
                </div>
            {{/each}}
        </div>
    </div>
</div>